.inputs {
  border-left: 3px solid #5865f2;
  border-radius: 3px;
  padding-left: 5px;
}
input {
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
#msg-area {
  border-left: 3px solid #5865f2;
  padding-left: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
}
textarea {
  border-radius: 5px;
  border: 1px solid #5865f2;
  padding: px;
  margin-top: 5px;
  margin-left: 5px;
  display: block;
}
input[type="submit"],
input[type="reset"] {
  border-radius: 3px;
  border: 1px solid;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  background-color: #5865f2;
  border: #5865f2;
  color: white;
}

#buttons {
  padding-top: 5px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  border: #3541bd;
  background-color: #4d5af1;
  cursor: pointer;
}

label:hover {
  color: #4d5af1;
}